.article_works {
    background-color: var(--button-background);
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 0px 50%;
}

.article_works__conainer h4 {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: white;
    padding-bottom: 22px;
}

.article_works__button {
    background-color: white;
    color: var(--button-background);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.article_works__button:active,
.article_works__button:hover {
    opacity: 0.9;
}

@media (min-width: 1000px) {
    .article_works {
        padding-top: unset;
        padding-bottom: unset;
        background-image: url('../images/bg-simplify-section-desktop.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 260px 100%;
    }
    .article_works__conainer {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .article_works__conainer h4 {
        max-width: 400px;
        text-align: start;
        font-size: 38px;
        line-height: 54px;
    }
}