.article_works {
    background-color: var(--button-background);
}

.article_works__conainer h4 {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: white;
}


.article_works__conainer button {
    background-color: white;
    border-radius: 50px;
    font-family: $default-font;
    color: var(--button-background);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    // margin-top: 32px;
    border: none;
    padding: 18px 40px;
}

@media (min-width: 1000px) {
    .article_works__conainer {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .article_works__conainer h4 {
        // margin-left: 100px;
        max-width: 400px;
        text-align: start;
    }
    // .article_works button {
    //     margin-right: 100px;
    // }
}