@import "variables";

.masthead {
    background-image: url('../images/bg-tablet-pattern.svg'), url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: calc(100% - -83px) -5%, calc(0% - -220px) 100%;;
    padding-bottom: 150px;
    padding-top: 122px;
    & img {
        width: 100%;
    }
}

.masthead_heading {
    @include bg_heading;
    padding-top: 42px;
}

.masthead_paragraph {
    @include sh_paragraph;
    padding-top: 20px;
    padding-bottom: 50px;
}

@media (min-width: 1000px) {
    .masthead {
        padding-bottom: 100px;
        padding-top: unset;
        background-size: 400px;
        background-position: calc(53% + 499px) -280%;
        margin-bottom: unset;
      }
    
      .masthead_container {
        max-width: 400px;
        text-align: start;
        margin-left: 100px;
      }
    .masthead_heading {
        padding-top: 200px;
    }
}
