.site_header {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20%;
    left: 0%;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    display: block;
    text-indent: -9999px;
    align-items: center;
}

.site_header__menu {
    background-image: url('../images/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 20%;
    left: 80%;
    width: 2rem;
    height: 2rem;
}

.site_header__button {
    display: none;
    align-items: center;
}

.navigation {
    transform: translate(-200px);
    align-items: center;
    & ul li a {
        @include link-font;
    }
}

body > input[type="checkbox"] {
    position: absolute;
    top: 0%;
    left: 80%;
    visibility: hidden;
}

body > input[type="checkbox"]:checked ~ header .navigation {
    transform: translate(0%);
}

@media (min-width: 1000px) {
    .site_header {
        margin-left: 100px;
        margin-right: 100px;
        max-width: 1170px;
        padding-top: 22px;
    }
        h1 {
            position: unset;
            top: unset;
            left: unset;
        }
    .site_header__menu {
        display: none;
    }
    .navigation {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        & ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li a:hover {
                color: hsl(233, 26%, 24%);
            }
        }
        & ul li + li {
            padding-top: unset;
            margin-left: 50px;
        }
    }
    .site_header__button {
        display: block;
    }
}

