:root {
  --body-background: #fafafa;
  --bg-heading-color: #242d52;
  --paragraph-color: #9095a7;
  --button-background: #f25f3a; }

html {
  font-family: "Be Vietnam", Arial, Helvetica, sans-serif;
  font-size: 24px; }

body {
  background-color: white;
  text-align: center; }

body, h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

ul li a {
  text-decoration: none; }

button {
  cursor: pointer; }

.button {
  color: var(--body-background);
  background-color: var(--button-background);
  border-radius: 50px;
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  padding: 18px 40px; }

.button_small {
  padding: 13px 24px; }

.masthead_button,
.article_testimonials__button,
.site_header__button {
  box-shadow: 0px 10px 5px #ffefeb; }

.site_header__button:active,
.site_header__button:hover,
.masthead_button:active,
.masthead_button:hover,
.article_testimonials__button:active,
.article_testimonials__button:hover {
  box-shadow: 0px 15px 5px #ffefeb;
  opacity: 0.8; }

.container {
  margin-left: 15px;
  margin-right: 15px; }

@media (min-width: 1000px) {
  body {
    background-image: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: -50% 57%; }
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; } }

.site_header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 25px; }

h1 {
  position: absolute;
  top: 20%;
  left: 0%;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  display: block;
  text-indent: -9999px;
  align-items: center;
  z-index: 1; }

.site_header__menu {
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  text-indent: -9999px;
  position: absolute;
  top: 20%;
  left: 86%;
  width: 2rem;
  height: 2rem;
  z-index: 1; }

.site_header__button {
  display: none;
  align-items: center; }

.navigation {
  transform: translate(-200px);
  position: absolute;
  top: 20%;
  left: 10%; }
  .navigation ul {
    text-align: center; }
    .navigation ul li a:hover, .navigation ul li :active {
      color: var(--paragraph-color); }
    .navigation ul li + li {
      margin-top: 32px; }
  .navigation ul li a {
    font-family: "Be Vietnam";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--bg-heading-color); }

body > input[type="checkbox"] {
  position: absolute;
  top: 0%;
  left: 80%;
  visibility: hidden; }

body > input[type="checkbox"]:checked ~ header .navigation {
  transform: translate(0%);
  background-image: linear-gradient(180deg, rgba(243, 244, 246, 0.2) 0%, rgba(36, 45, 82, 0.5) 50%);
  top: -25px;
  left: 0%;
  background-color: rgba(150, 152, 166, 0.2);
  height: 100vh;
  width: 100%;
  padding-top: 100px; }

body > input[type="checkbox"]:checked ~ header .navigation ul {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 32px 0px;
  margin-left: 20px;
  margin-right: 20px; }

body > input[type="checkbox"]:checked ~ header .site_header__menu {
  background-image: url("../images/icon-close.svg");
  background-size: 1,5rem;
  z-index: 1; }

@media (min-width: 1000px) {
  .site_header {
    position: unset;
    top: unset;
    position: absolute;
    z-index: 1;
    margin-left: 122px;
    margin-right: 122px;
    max-width: 1100px;
    padding-top: 42px;
    width: 100%; }
  h1 {
    position: unset;
    top: unset;
    left: unset;
    width: 150px;
    z-index: unset; }
  .site_header__menu {
    display: none; }
  .navigation {
    position: unset;
    top: unset;
    left: unset;
    transform: unset; }
    .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .navigation ul li + li {
      padding-top: unset;
      margin-left: 50px;
      margin-top: unset; }
  .site_header__button {
    display: block; } }

:root {
  --body-background: #fafafa;
  --bg-heading-color: #242d52;
  --paragraph-color: #9095a7;
  --button-background: #f25f3a; }

.masthead {
  background-image: url("../images/bg-tablet-pattern.svg"), url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: calc(100% - -60px) -2%, calc(0% - -220px) 100%;
  padding-bottom: 150px;
  padding-top: 122px; }
  .masthead img {
    width: 100%; }

.masthead_heading {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: var(--bg-heading-color);
  padding-top: 42px; }

.masthead_paragraph {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--paragraph-color);
  padding-top: 20px;
  padding-bottom: 50px; }

@media (min-width: 1000px) {
  .masthead {
    padding-bottom: 100px;
    padding-top: unset;
    position: relative;
    background-size: 50%;
    background-position: calc(700px - -42px) -90%;
    margin-bottom: unset; }
  .masthead_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between; }
    .masthead_container img {
      width: 50%;
      padding-top: 160px; }
  .masthead_heading__container {
    max-width: 400px;
    text-align: start; }
  .masthead_heading {
    font-size: 54px;
    line-height: 68px;
    padding-top: 200px; } }

.article_about__heading {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: var(--bg-heading-color); }

.article_about__paragraph {
  padding-top: 20px;
  padding-bottom: 50px; }

.article_about__paragraph,
.article_about__lists li p {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--paragraph-color); }

.article_about__lists li h4 {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--bg-heading-color);
  padding-left: 10px; }

.article_about__lists li div {
  display: flex;
  flex-direction: row;
  background-color: #ffefeb;
  align-items: center;
  margin-bottom: 10px; }

.article_about__lists li + li {
  margin-top: 50px; }

@media (min-width: 1000px) {
  .article_about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start; }
  .article_about__heading {
    font-size: 38px;
    line-height: 54px; }
  .article_about__lists {
    margin-left: 100px; }
  .article_about__lists li div {
    background-color: unset;
    margin-bottom: 15px; }
  .article_about__lists li div h4 {
    padding-left: 32px; }
  .article_about__lists li p {
    padding-left: 130px; } }

.article_testimonials {
  padding-top: 62px;
  padding-bottom: 50px; }
  .article_testimonials h3 {
    font-family: "Be Vietnam";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: var(--bg-heading-color);
    padding-bottom: 50px; }
  .article_testimonials .slideshow-container .slides {
    background-color: var(--body-background);
    padding-right: 22px;
    padding-left: 22px; }
    .article_testimonials .slideshow-container .slides img {
      width: 70px;
      height: 70px;
      margin-top: -35px; }
    .article_testimonials .slideshow-container .slides h4 {
      font-family: "Be Vietnam";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: var(--bg-heading-color);
      padding-top: 32px;
      padding-bottom: 22px; }
    .article_testimonials .slideshow-container .slides p {
      font-family: "Be Vietnam";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: var(--paragraph-color);
      padding-bottom: 32px; }
  .article_testimonials .article_testimonials__button {
    margin-top: 50px; }

.article_testimonials__buttons .testimonials {
  width: 10px;
  height: 10px;
  border: 1px solid var(--button-background);
  background-color: unset;
  border-radius: 50%;
  outline: none; }

.testimonials.active, .testimonials:hover {
  background-color: var(--button-background); }

.slideshow-container .slides {
  display: none; }

.testimonials {
  display: inline-block; }

.slideshow-container .prev, .slideshow-container .next {
  display: none; }

@media (min-width: 1000px) {
  .article_testimonials .slideshow-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; }
    .article_testimonials .slideshow-container .slides + .slides {
      margin-top: unset;
      margin-left: 22px; }
  .article_testimonials .article_testimonials__buttons {
    display: none; }
  .article_testimonials h3 {
    font-size: 38px;
    line-height: 54px; }
  .slideshow-container .prev, .slideshow-container .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: var(--button-background);
    border: none;
    background-color: transparent; }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .slideshow-container .slides {
    display: block; } }

.article_works {
  background-color: var(--button-background);
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 0px 50%; }

.article_works__conainer h4 {
  font-family: "Be Vietnam";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: white;
  padding-bottom: 22px; }

.article_works__button {
  background-color: white;
  color: var(--button-background);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1); }

.article_works__button:active,
.article_works__button:hover {
  opacity: 0.9; }

@media (min-width: 1000px) {
  .article_works {
    padding-top: unset;
    padding-bottom: unset;
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 260px 100%; }
  .article_works__conainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .article_works__conainer h4 {
    max-width: 400px;
    text-align: start;
    font-size: 38px;
    line-height: 54px; } }

:root {
  --body-background: #fafafa;
  --bg-heading-color: #242d52;
  --paragraph-color: #9095a7;
  --button-background: #f25f3a; }

footer {
  background-color: #242d52;
  padding-top: 52px;
  padding-bottom: 12px; }
  footer .footer_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 38px;
    text-align: left;
    padding-top: 42px;
    padding-bottom: 32px; }
  footer form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }

.footer_container {
  display: flex;
  flex-direction: column-reverse; }

h5 {
  margin: 0;
  padding-bottom: 52px;
  padding-top: 42px;
  display: flex;
  justify-content: center; }

h5 a {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: start;
  display: block;
  text-indent: -9999px;
  filter: brightness(0) invert(1);
  width: 200px; }

.footer_social_lists {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.footer_social_lists li a {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  background-size: 1.5rem; }

.footer_social_lists li:nth-child(1) a {
  background-image: url("../images/icon-facebook.svg"); }

.footer_social_lists li:nth-child(2) a {
  background-image: url("../images/icon-youtube.svg"); }

.footer_social_lists li:nth-child(3) a {
  background-image: url("../images/icon-twitter.svg"); }

.footer_social_lists li:nth-child(4) a {
  background-image: url("../images/icon-pinterest.svg"); }

.footer_social_lists li:nth-child(5) a {
  background-image: url("../images/icon-instagram.svg"); }

.footer_social_lists li a:hover,
.footer_social_lists li a:active {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); }

.footer_career_lists li a,
.footer_menu__lists li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--body-background);
  font-style: normal; }

.footer_career_lists li a:hover,
.footer_menu__lists li a:hover {
  color: #f25f3a; }

.footer_career_lists li + li, .footer_menu__lists li + li {
  margin-top: 20px; }

footer input[type="text"] {
  background-color: white;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 40px;
  border: none; }

.footer_button:active,
.footer_button:hover {
  opacity: 0.8; }

footer p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #b5bcc9;
  font-style: normal; }

@media (min-width: 1000px) {
  .footer_container {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(9, 1fr); }
    .footer_container h5 {
      grid-column: 1 / 2;
      padding-bottom: unset;
      padding-top: unset; }
    .footer_container .footer_social_lists {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      padding-bottom: unset;
      padding-top: unset;
      align-self: end; }
      .footer_container .footer_social_lists li a {
        background-size: unset;
        height: unset; }
    .footer_container .footer_menu {
      grid-column: 3 / 6;
      grid-row: 1 / 3;
      padding-bottom: unset;
      padding-top: unset; }
    .footer_container form {
      grid-column: 7 / 10;
      align-self: flex-start; }
    .footer_container p {
      grid-column: 7 / 10;
      grid-row: 2 / 3;
      align-self: end;
      text-align: right; }
  footer {
    padding-bottom: 52px; } }
