$button_color: hsl(12, 88%, 59%);
$footer_bg_color: hsl(228, 39%, 23%);
$bg_color: hsl(227, 12%, 61%);
$text_color: hsl(233, 12%, 13%);
$image_color: hsl(13, 100%, 96%);
$background_color: hsl(0, 0%, 98%);