@mixin bg_heading {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: var(--bg-heading-color);
}

@mixin sh_paragraph {
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--paragraph-color);
}

@mixin button {
    border-radius: 50px;
    font-family: $default-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    padding: 18px 40px;
}

@mixin link-font {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--bg-heading-color);
}

@mixin article_heading {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    color: var(--bg-heading-color);
}

@mixin list_heading {
    font-family: $default-font;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--bg-heading-color);
}